<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Time</title>
</head>
<style>
    #clock{
        width: 100px;
        height: 100px;
        color: black;
    }
</style>
<body>
    <div class="app">
        <div class="noti">
            <h3 class="noti__title">Đồng hồ của bạn hiện đang chậm 0,9 giây.</h3>
            <p class="noti__item">Độ chính xác của quá trình đồng bộ hoá là ±0,076 giây.</p>
            <p class="noti_item">Thời gian ở Hà Nội, Việt Nam hiện tại:</p>
        </div>
        <div class="clock__wapper">
            
        </div>
        <div id="clock" onload="currentTime()"></div>
    </div>
    <script>
        function currentTime() {
                let date = new Date();
                let hh = date.getHours();
                let mm = date.getMinutes();
                let ss = date.getSeconds();
                let session = "AM";

                if (hh == 0) {
                    hh = 12;
                }
                if (hh > 12) {
                    hh = hh - 12;
                    session = "PM";
                }

                hh = (hh < 10) ? "0" + hh : hh;
                mm = (mm < 10) ? "0" + mm : mm;
                ss = (ss < 10) ? "0" + ss : ss;

                let time = hh + ":" + mm + ":" + ss + " " + session;
                document.getElementById("clock").innerText = time;
                setTimeout(function () { currentTime() }, 1000);
            }
            currentTime();
    </script>
</body>
</html>